@font-face{
    font-family: "Didot";
    src: url("../fonts/didot.otf") format("opentype");
}

@font-face{
    font-family: "Gotham";
    src: url("../fonts/gotham.ttf");
}

body{
    font-family: "Gotham";
}

h2{
	font-size: 24px;
    letter-spacing: 0;
}

h3{
	font-size: 20px;
    letter-spacing: 0;
}

p{
	font-size: 16px;
    letter-spacing: 0;
}

ul{
	list-style: none;
}

.app-store, .play-store{
	width: 184px;
	height: 60px;
	padding: 5px;
}
.play-store{
	opacity: 0.5;
}
.mast-head{
	padding-top: 120px;
	padding-bottom: 120px;
	background-image: -moz-linear-gradient( 90deg, rgb(216,216,214) 0%, rgb(234,235,230) 50%, rgb(236,237,232) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(216,216,214) 0%, rgb(234,235,230) 50%, rgb(236,237,232) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(216,216,214) 0%, rgb(234,235,230) 50%, rgb(236,237,232) 100%);
}
.model-photo{
	display: block;
	margin: 0 auto;
	width: 450px;
}
.mast-head .logo{
	width: 143px;
	height: 65px;
	display: block;
	margin: 0 auto;
}
.mast-head p{
	font-family: "Didot";
	font-size: 30px;
	text-align: center;
}
.mast-head ul{
	text-align: center;
}
.mast-head li{
	display: inline-block;
}

.explore{
	background-color: #fff;
	height: 650px;
	overflow: hidden;
	padding-top: 90px;
	padding-bottom: 90px;
}

.explore h2{
	margin-top: 110px;
	margin-bottom: 90px;
}

.frame{
	width: 420px;
}

.description{
	background-color: #393a3d;
	padding-top: 90px;
	padding-bottom: 90px;
	color: #fff;
	text-align: center;
}


.interesting{
	background-color: #e94402;
	padding-top: 60px;
	padding-bottom: 50px;
}
.interesting h2{
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.interesting p{
	color: #fff;
	text-align: center;
	opacity: 0.5;
}
.interesting ul{
	text-align: center;
}
.interesting li{
	display: inline-block;
}


footer{
	background-color: #393a3d;
	padding-top: 45px;
	padding-bottom: 45px;
}

footer img{
	display: block;
	margin: 0 auto;
	width: 110px;
	height: 50px;
}



@media only screen and (min-width : 551px) {

	.mast-head p{
		font-size: 48px;
	}
	
    h2{
		font-size: 32px;
	}

	h3{
		font-size: 24px;
	}

	p{
		font-size: 18px;
	}
    
}